<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="connexionStrings" value="Data Source=LFR012236\LFR012236; Initial Catalog=HiltiLocalDB; Integrated Security=True"/>
    <add key="csvFilePath" value="C:\Users\asizmoha\source\repos\ConsoleLoadCSVShopToDB\Data\Sales.csv"/>
  </appSettings>
</configuration>